{% extends 'users/master.html' %}

{% block content %}


    <input type="hidden" id="office-txt" value="{{ officetxt }}">
    <table id="eventsDivDisplayTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th style="display:none;">Date</th>
                <th>Event Date</th>
                <!-- Division column headers are injected dynamically by JS from divisions_division -->
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th style="display:none;">Date</th>
                <th>Event Date</th>
                <!-- Division column footers are injected dynamically by JS from divisions_division -->
            </tr>
        </tfoot>
    </table>

{% endblock %}