{% extends 'users/master.html' %}

{% block content %}


    <input type="hidden" id="office-txt" value="{{ officetxt }}">
    <table id="eventsDivDisplayTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th style="display:none;">Date</th>
                <th>Event Date</th>
                <th>SDD</th>
                <th>IDD</th>
                <th>CPD</th>
                <th>FAD</th>
                <th>MSSD</th>
                <th>ICT</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tfoot>
        <tr>
            <th style="display:none;">Date</th>
            <th>Event Date</th>
            <th>SDD</th>
            <th>IDD</th>
            <th>CPD</th>
            <th>FAD</th>
            <th>MSSD</th>
            <th>ICT</th>
        </tr>
    </tfoot>
    </table>

{% endblock %}