{% extends 'users/master.html' %}

{% block content %}

    <table id="eventsDisplayTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th style="display:none;">Date</th>
                <th>Event Date</th>
                <!-- Office column headers are injected dynamically by JS from tbl_offices -->
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th style="display:none;">Date</th>
                <th>Event Date</th>
                <!-- Office column footers are injected dynamically by JS from tbl_offices -->
            </tr>
        </tfoot>
    </table>

{% endblock %}
