{% extends 'users/master.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}
   
    <div class="container-login" style="margin-top: 20%;">
        <h2 class="login-title">Login</h2>
        <address></address>
        {{ error_message }}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" class="form-control-login" style="border-radius: 25px; height: 3em;" required>
            </div>
            <!--Put a div separator-->
           <address></address>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control-login" style="border-radius: 25px; height: 3em;" required>
            </div>
            <address></address>
            {{ form.errors }}

            <div class="login-button-div">

                <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        {% if messages %}
            <div class="alert alert-success" role="alert">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
                
            </div>

    </div>

{% endblock %}
   