{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Events Display Portal</title>  
        
        <!--datatables server-side-->
        <script src="{% static 'js/jquery-3.7.0.js' %}"></script>
        <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">

      
        <!-- DataTables Buttons Extension CSS and JavaScript -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.dataTables.min.css' %}">
        <!-- <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script> -->
        <script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script> -->
        <script src="{% static 'js/jszip.min.js' %}"></script>
        <!-- <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script> -->
        <script src="{% static 'js/buttons.html5.min.js' %}"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script> -->
        <script src="{% static 'js/pdfmake.min.js' %}"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script> -->
        <script src="{% static 'js/vfs_fonts.js' %}"></script>
        <!-- <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.js"></script> -->
        <script src="{% static 'js/buttons.print.js' %}"></script>
        <!-- <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script> -->
        <!-- <script src="{% static 'js/print.min.js' %}"></script> -->


        <!--CSS Bootstrap-->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

        <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"> -->
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
        <!-- <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script> -->
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        
    
        <!--vue.js-->
        <script src="{% static 'js/vue.global.js' %}"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
        
    <style type="text/css">

        .ui-autocomplete-input{
            z-index: 9999 !important;
        }

        /* Apply a higher z-index to the modal dialog */
        .modal-dialog{
            z-index: 1050 !important; /* Adjust this value if necessary */
        }

        /* Apply a higher z-index to the autocomplete suggestions */
        .ui-autocomplete {
            z-index: 9999 !important; /* Should be higher than the modal */
        }

        /*Not Required*/
        .btn{margin-bottom:15px;}
        /*Required*/
        @media (max-width: 576px){.modal-dialog.modal-dialog-slideout {width: 80%}}
        .modal-dialog-slideout {min-height: 30%; margin: 50 auto 0 0 ;background: #fff;}
        .modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(-100%,0);transform: translate(-100%,0);}
        .modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);flex-flow: column;}
        .modal-dialog-slideout .modal-content{border: 0;}

    </style>
        
    </head> 
    
    <body>

    <div class="container">

    <br>
    <div class="modal fade" id="showOfficeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-slideout">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Filter Function</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="" enctype="multipart/form-data">
                {% csrf_token %}
                  <p>
                    <select id="dtioffice" class="form-control form-select">
                        <option value="0">Select Office</option>
                        <option value="RO">RO</option>
                        <option value="ADN">ADN</option>
                        <option value="ADS">ADS</option>
                        <option value="SDN">SDN</option>
                        <option value="SDS">SDS</option>
                        <option value="PDI">PDI</option>
                    </select>
                  </p>
                  <div class="modal-footer">
                    <button class="btn btn-primary">Filter</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
            </form>
            </div>
          </div>
        </div>
      </div>

      <!--by division modal filter-->
      <div class="modal fade" id="showDtiDivModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-slideout">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Filter Function</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form enctype="multipart/form-data">
                {% csrf_token %}
                  <p>
                    <select id="dtidivision" class="form-control form-select">
                        <option value="0">Select Division</option>
                        <option value="SDD">SME Development Division (SDD)</option>
                        <option value="IDD">Industry Development Division (IDD)</option>
                        <option value="CPD">Consumer Protection Division (CPD)</option>
                        <option value="FAD">Finance and Admin Division (FAD)</option>
                    </select>
                  </p>
                  <div class="modal-footer">
                    <button class="btn btn-primary">Filter</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
            </form>
            </div>
          </div>
        </div>
      </div>
      
      
      <div id="{%if txturl == 'events'%}appEvents{%else%}app{% endif %}">

            {% if txturl == 'events' %}
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h4>DTI Caraga Calendar of Events</h4>
                    </div>
                </div>
                <br>
            
                <!-- div for the select tag to show filter by function -->
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <select id="filterBy" class="form-control form-select" @change="filterEventsDatatbl">
                                <option value="0">Filter by</option>
                                <option value="office">Office</option>
                                <option value="division">Division</option>
                                <option value="unit">Unit</option>
                            </select>
                        </p>
                    </div>
                </div>
                <br>
            {% endif %}
            
            {% block content %}
            
            {% endblock %}

        </div>

        </div>
        
        <script src="{% static 'js/custom-vue.js' %}"></script>
       {% if txturl == 'events' %}
        <script src="{% static 'js/custom-events-vue.js' %}"></script>
       {% endif %}
        
    </body>

</html>
