{% extends 'users/master.html' %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container-login" style="margin-top: 10%;">
    <h2 class="login-title">Forgot Password</h2>
    <address></address>
    <p>Enter your email address and we'll send you a link to reset your password.</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="email" name="email" placeholder="Enter your email" class="form-control-login" style="border-radius: 25px; height: 3em;" required>
        </div>
        <address></address>
        <div class="login-button-div">
            <button type="submit" class="btn btn-primary">Send Reset Link</button>
        </div>
    </form>
    <address></address>
    <p><a href="{% url 'login' %}">Back to Login</a></p>
</div>
{% endblock %}
