{% extends 'users/master.html' %}
{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="container-login" style="margin-top: 10%;">
    <h2 class="login-title">Set New Password</h2>
    <address></address>
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="password" name="new_password1" placeholder="New password" class="form-control-login" style="border-radius: 25px; height: 3em;" required>
            </div>
            <address></address>
            <div class="form-group">
                <input type="password" name="new_password2" placeholder="Confirm new password" class="form-control-login" style="border-radius: 25px; height: 3em;" required>
            </div>
            <address></address>
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.errors }}
                </div>
            {% endif %}
            <div class="login-button-div">
                <button type="submit" class="btn btn-primary">Set Password</button>
            </div>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">
            This password reset link is invalid or has expired. Please request a new one.
        </div>
        <p><a href="{% url 'password_reset' %}">Request a new reset link</a></p>
    {% endif %}
</div>
{% endblock %}
