{% extends 'users/master.html' %}
{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="container-login" style="margin-top: 10%;">
    <h2 class="login-title">Password Reset Successful</h2>
    <address></address>
    <div class="alert alert-success" role="alert">
        Your password has been reset successfully. You can now log in with your new password.
    </div>
    <address></address>
    <div class="login-button-div">
        <a href="{% url 'login' %}" class="btn btn-primary">Go to Login</a>
    </div>
</div>
{% endblock %}
