{% extends 'users/master.html' %}

    {% block title %}
        Profile Page
    {% endblock %}

{% block content %}

    <h2>Profile</h2>
    <p>ID: {{ user.id }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p><a href="{% url 'logout' %}">Logout</a></p>

    <div class="container-fluid">

      {% if msgvar %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

    
       <div id="app">

        {[ message ]}
        
        <button @click="showModal" class="btn btn-primary"><i class="bi bi-calendar-event"></i> New Event</button>&nbsp;
        <button @click="showCalModal" class="btn btn-primary"><i class="bi bi-calendar-check"></i> Calendar Category</button>&nbsp;
        <button @click="showDivModal" class="btn btn-primary"><i class="bi bi-person-square"></i> Division</button>&nbsp;

        <pre>{{ divisionListVue }}</pre>

        <div class="toast align-items-center text-white bg-primary border-0 hide position-fixed top-0 end-0 p-3 mt-2" id="liveToast" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 1050">
          <div class="d-flex">
            <div class="toast-body">
              Event Successfully Saved!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>

        <!-- vue.js 2 modal test -->

        <div class="modal fade" id="modal1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-slideout">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Add Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <span style="font-weight:bold; color:blue;">Step 1/2</span>
                <address></address>
                <form @submit.prevent="saveEventData" enctype="multipart/form-data">
                  <!-- <input v-model="formData.calendar_name" type="text" placeholder="Field 1" required> -->
                  <p> <!-- to be created with db table office-->
                    <select name="office" v-model="formData.office" class="form-control form-select" aria-label="Default select example" required>
                    <option >Select Office</option>
                    <option value="RO" >REGIONAL OFFICE</option>
                    <option value="ADN">AGUSAN DEL NORTE</option>
                    <option value="ADS">AGUSAN DEL SUR</option>
                    <option value="SDN">SURIGAO DEL NORTE</option>
                    <option value="SDS">SURIGAO DEL SUR</option>
                    <option value="PDI">PROVINCE OF DINAGAT ISLANDS</option>
                  </select>
                 </p>

                 <p>
                  <select name="division_id" class="form-control form-select" id="division-id" aria-label="Default select example" v-model="formData.division_id" @change="onDivisionChange" required>
                  <option value="0">Select Division</option>
                  <option v-for="val in divisionListVue" :value="val.id">{[ val.division_name ]}</option>
                 </select>
                </p>

                 <p>
                  <!-- <input type="text" name="division_name" id="division-name-id" v-model="formData.division_name" class="form-control" placeholder="Division Name" required> -->
                  <input type="text" name="division_name" id="division-name-id" v-model="formData.division_name" class="form-control" placeholder="Division Name" required>
                 </p>

                  <p> <!-- to be created with db table unit-->
                    <select name="unit" v-model="formData.unit" class="form-control form-select" aria-label="Default select example" required>
                      <option value="0">Select Unit</option>
                      <option value="NC" >Negosyo Center</option>
                      <option value="EDU">Enterprise Development Unit</option>
                      <option value="TPU">Trade Promotion Unit</option>
                      <option value="CARP">Comprehensive Agrarian Reform Program</option>
                    </select>
                </p>

                  <p> <!-- to be created with db table Org_outcome-->
                   <select name="org_outcome" v-model="formData.org_outcome" class="form-control form-select" aria-label="Default select example" required>
                    <option value="0">Select Organizational Outcome</option>
                    <option value="OO1" >OO1</option>
                    <option value="OO2">OO2</option>
                    <option value="OO3">OO3</option>
                   </select>
                 </p>

                 <p> <!-- to be created with db table PAPs-->
                  <select name="paps" v-model="formData.paps" class="form-control form-select" aria-label="Default select example" required>
                    <option value="0">Select PAPs</option>
                    <option value="PAPs 1" >PAPs 1</option>
                    <option value="PAPs 2">PAPs 2</option>
                    <option value="PAPs 3">PAPs 3</option>
                  </select>
                 </p>

                 <p>
                  <select name="calendar_id" v-model="formData.calendar_id" class="form-control form-select" id="calendar-id" aria-label="Default select example" @change="onCalendarChange" required>
                    <option value="0">Select Calendar</option>
                    <option v-for="val in calendarListVue" :value="val.id">{[ val.calendar_name ]}</option>
                  </select>
                </p>

                <p>
                  <!-- <input type="text" name="calendar_name" v-model="formData.calendar_name" class="form-control" id="calendar-name-id" placeholder="Calendar Name" required> -->
                  <input type="text" name="calendar_name" id="calendar-name-id" v-model="formData.calendar_name" class="form-control" placeholder="Calendar Name" required>
                </p>
                  
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="nextModal">Next</button>
              </div>
            </div>
          </div>  
        </div>
      
        <div class="modal fade" id="modal2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-slideout">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Add Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <span style="font-weight:bold; color:blue;">Step 2/2</span>
                <address></address>
                <form @submit.prevent="saveEventData" enctype="multipart/form-data">
                  <!-- <input v-model="formData.calendar_desc" type="text" placeholder="Field 2" required> -->
                  <p><input type="text" name="user_id" class="form-control" placeholder="Event title" v-model="formData.user_id" style="display: none;"></p>
                  <p><input type="text" name="event_title" class="form-control" id="event-title-input" placeholder="Event title" v-model="formData.event_title" data-autocomplete-source="{% url 'suggest_event_titles' %}" required></p>
                  <p><input type="text" name="event_location" class="form-control" v-model="formData.event_location" placeholder="Province" required></p>
                  <p><input type="text" name="event_location_lgu" class="form-control" v-model="formData.event_location_lgu" placeholder="LGU" required></p>
                  <p><input type="text" name="event_location_district" class="form-control" v-model="formData.event_location_district" placeholder="District" required></p>

                  <p><input type="datetime-local" name="whole_date_start" class="form-control" placeholder="Event Start" v-model="formData.whole_date_start" @change="updateStartDateFields" required></p>
                  <p><input type="text" name="event_day_start" class="form-control" placeholder="Day Start"  v-model="formData.event_day_start" style="display:none;"></p>
                  <p><input type="text" name="event_month_start" class="form-control" placeholder="Month Start"  v-model="formData.event_month_start" style="display:none;"></p>
                  <p><input type="text" name="event_year_start" class="form-control" placeholder="Year Start"  v-model="formData.event_year_start" style="display:none;"></p>
                  <p><input type="text" name="event_time_start" class="form-control" placeholder="Time Start"  v-model="formData.event_time_start" style="display:none;"></p>
                   <p><input type="text" name="whole_date_start_searchable" class="form-control" v-model="formData.whole_date_start_searchable" style="display:none;"></p>
                  <!-- <p><input type="time" name="" class="form-control" placeholder="Time start" required></p> -->
                  <p><input type="datetime-local" name="whole_date_end" class="form-control" placeholder="Event End" v-model="formData.whole_date_end" @change="updateEndDateFields" required></p>
                  <!-- <p><input type="time" name="" class="form-control" placeholder="Time end" required></p> -->
                  <p><input type="text" name="event_day_end" class="form-control" v-model="formData.event_day_end" placeholder="Day End" style="display: none;"></p>
                  <p><input type="text" name="event_month_end" class="form-control" v-model="formData.event_month_end" placeholder="Month End" style="display: none;"></p>
                  <p><input type="text" name="event_year_end" class="form-control" v-model="formData.yearEnd" placeholder="Year end" style="display: none;"></p>
                  <p><input type="text" name="event_time_end" class="form-control" v-model="formData.event_time_end" placeholder="Time end" style="display: none;"></p>
                  <p><input type="text" name="whole_date_end_searchable" class="form-control" v-model="formData.whole_date_end_searchable" style="display:none;"></p>
                  <p><textarea name="event_desc" class="form-control" v-model="formData.event_desc" placeholder="Add a description"></textarea></p>
                  <p><textarea name="participants" class="form-control" v-model="formData.participants" placeholder="Participants"></textarea></p>
                  <!-- <p><input type="file" name="file_attachment" v-model="formData.file_attachment" class="form-control"></p> -->
                  <p><input type="file" name="file_attachment" class="form-control" @change="handleFileChange"></p>
                  

                  <div class="modal-footer">
                    <button class="btn btn-primary">Save</button>
                    <button @click="previousModal" class="btn btn-secondary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                  
                </form>
              </div>
              
            </div>
          </div>
        </div>

      
        
        <!-- Modal -->
            <!-- <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                        
                        <p> 
                          <select name="office" class="form-control" aria-label="Default select example" required>
                          <option >Select Office</option>
                          <option value="RO" >REGIONAL OFFICE</option>
                          <option value="ADN">AGUSAN DEL NORTE</option>
                          <option value="ADS">AGUSAN DEL SUR</option>
                          <option value="SDN">SURIGAO DEL NORTE</option>
                          <option value="SDS">SURIGAO DEL SUR</option>
                          <option value="PDI">PROVINCE OF DINAGAT ISLANDS</option>
                        </select>
                      </p>
                        <p><select name="division_id" class="form-control form-select" aria-label="Default select example" v-model="selectedDivisionId" @change="onDivisionChange" required>
                          <option value="0">Select Division</option>
                          {% for val in divisionList %}
                          <option value="{{ val.id }}">{{ val.division_name }}</option>
                          {% endfor %}
                        </select></p>

                        <p> 
                          <select name="unit" class="form-control form-select" aria-label="Default select example" required>
                          <option value="0">Select Unit</option>
                          <option value="NC" >Negosyo Center</option>
                          <option value="EDU">Enterprise Development Unit</option>
                          <option value="TPU">Trade Promotion Unit</option>
                          <option value="CARP">Comprehensive Agrarian Reform Program</option>
                        </select>
                      </p>

                        <p> 
                          <select name="org_outcome" class="form-control form-select" aria-label="Default select example" required>
                          <option value="0">Select Organizational Outcome</option>
                          <option value="OO1" >OO1</option>
                          <option value="OO2">OO2</option>
                          <option value="OO3">OO3</option>
                        </select>
                       </p>

                       <p> 
                        <select name="paps" class="form-control form-select" aria-label="Default select example" required>
                        <option value="0">Select PAPs</option>
                        <option value="PAPs 1" >PAPs 1</option>
                        <option value="PAPs 2">PAPs 2</option>
                        <option value="PAPs 3">PAPs 3</option>
                      </select>
                     </p>

                       <p><select name="calendar_id" class="form-control form-select" aria-label="Default select example" required>
                        <option>Select Calendar</option>
                        {% for val in calendarList %}
                        <option value="{{ val.id }}">{{ val.calendar_name }}</option>
                        {% endfor %}
                      </select></p>

                        <p><input type="text" name="user_id" class="form-control" placeholder="Event title" value="{{ user.id }}" style="display: none;"></p>
                        <p><input type="text" name="event_title" class="form-control" id="event-title-input" placeholder="Event title" data-autocomplete-source="{% url 'suggest_event_titles' %}" required></p>
                        <p><input type="text" name="event_location" class="form-control" placeholder="Province" required></p>
                        <p><input type="text" name="event_location_lgu" class="form-control" placeholder="LGU" required></p>
                        <p><input type="text" name="event_location_district" class="form-control" placeholder="District" required></p>

                        <p><input type="datetime-local" name="whole_date_start" class="form-control" placeholder="Event Start" v-model="startdate" @change="updateStartDateFields" required></p>
                        <p><input type="text" name="event_day_start" class="form-control" placeholder="Day Start"  v-model="event_day_start" style="display:none;"></p>
                        <p><input type="text" name="event_month_start" class="form-control" placeholder="Month Start"  v-model="monthStart" style="display:none;"></p>
                        <p><input type="text" name="event_year_start" class="form-control" placeholder="Year Start"  v-model="yearStart" style="display:none;"></p>
                        <p><input type="text" name="event_time_start" class="form-control" placeholder="Time Start"  v-model="timeStart" style="display:none;"></p>
                         <p><input type="text" name="whole_date_start_searchable" class="form-control" v-model="dateStartSearchable" style="display:none;"></p>
                       
                        <p><input type="datetime-local" name="whole_date_end" class="form-control" placeholder="Event End" v-model="enddate" @change="updateEndDateFields" required></p>
                       
                        <p><input type="text" name="event_day_end" class="form-control" v-model="dayEnd" placeholder="Day End" style="display: none;"></p>
                        <p><input type="text" name="event_month_end" class="form-control" v-model="monthEnd" placeholder="Month End" style="display: none;"></p>
                        <p><input type="text" name="event_year_end" class="form-control" v-model="yearEnd" placeholder="Year end" style="display: none;"></p>
                        <p><input type="text" name="event_time_end" class="form-control" v-model="timeEnd" placeholder="Time end" style="display: none;"></p>
                        <p><input type="text" name="whole_date_end_searchable" class="form-control" v-model="dateEndSearchable" style="display:none;"></p>
                        <p><textarea name="event_desc" class="form-control" placeholder="Add a description"></textarea></p>
                        <p><textarea name="participants" class="form-control" placeholder="Participants"></textarea></p>
                        <p><input type="file" name="file_attachment" class="form-control"></p>
                  
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                  </form>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- modal for editing events -->

            <!-- <div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}

                        <p> 
                          <select name="office" class="form-control" id="editOffice-id" aria-label="Default select example" required>
                          <option >Select Office</option>
                          <option value="RO" >REGIONAL OFFICE</option>
                          <option value="ADN">AGUSAN DEL NORTE</option>
                          <option value="ADS">AGUSAN DEL SUR</option>
                          <option value="SDN">SURIGAO DEL NORTE</option>
                          <option value="SDS">SURIGAO DEL SUR</option>
                          <option value="PDI">PROVINCE OF DINAGAT ISLANDS</option>
                        </select>
                      </p>
                        <p><select name="division_id" class="form-control form-select" id="editDivision-id" aria-label="Default select example" v-model="selectedDivisionId" @change="onDivisionChange" required>
                          <option value="0">Select Division</option>
                          {% for val in divisionList %}
                          <option value="{{ val.id }}">{{ val.division_name }}</option>
                          {% endfor %}
                        </select></p>

                        <p>
                          <select name="unit" class="form-control form-select" id="editUnit-id" aria-label="Default select example" required>
                          <option value="0">Select Unit</option>
                          <option value="NC" >Negosyo Center</option>
                          <option value="EDU">Enterprise Development Unit</option>
                          <option value="TPU">Trade Promotion Unit</option>
                          <option value="CARP">Comprehensive Agrarian Reform Program</option>
                        </select>
                      </p>

                        <p> 
                          <select name="org_outcome" class="form-control form-select" id="editOrgOutcome-id" aria-label="Default select example" required>
                          <option value="0">Select Organizational Outcome</option>
                          <option value="OO1" >OO1</option>
                          <option value="OO2">OO2</option>
                          <option value="OO3">OO3</option>
                        </select>
                      </p>

                      <p> 
                        <select name="paps" class="form-control form-select" id="editPAPs-id" aria-label="Default select example" required>
                        <option value="0">Select PAPs</option>
                        <option value="PAPs 1" >PAPs 1</option>
                        <option value="PAPs 2">PAPs 2</option>
                        <option value="PAPs 3">PAPs 3</option>
                      </select>
                    </p>

                      <p><select name="calendar_id" class="form-control form-select" id="editCalendar-id" aria-label="Default select example" required>
                        <option>Select Calendar</option>
                        {% for val in calendarList %}
                        <option value="{{ val.id }}">{{ val.calendar_name }}</option>
                        {% endfor %}
                      </select></p>

                        <p><input type="text" name="user_id" class="form-control" id="editUser-id" placeholder="Event title" value="{{ user.id }}" style="display: none;"></p>
                        <p><input type="text" name="event_title" class="form-control" id="editEventTitle-id" placeholder="Event title" data-autocomplete-source="{% url 'suggest_event_titles' %}" required></p>
                        <p><input type="text" name="event_location" class="form-control" id="editEventLocation-id" placeholder="Location" required></p>
                        
                        <p><input type="datetime-local" name="whole_date_start" class="form-control" id="editWholeDateStart-id" placeholder="Event Start" v-model="startdate" @change="updateStartDateFields" required></p>
                        <p><input type="text" name="event_day_start" class="form-control" placeholder="Day Start"  v-model="dayStart" style="display:none;"></p>
                        <p><input type="text" name="event_month_start" class="form-control" placeholder="Month Start"  v-model="monthStart" style="display:none;"></p>
                        <p><input type="text" name="event_year_start" class="form-control" placeholder="Year Start"  v-model="yearStart" style="display:none;"></p>
                        <p><input type="text" name="event_time_start" class="form-control" placeholder="Time Start"  v-model="timeStart" style="display:none;"></p>
                       
                        <p><input type="datetime-local" name="whole_date_end" class="form-control" id="editWholeDateEnd-id" placeholder="Event End" v-model="enddate" @change="updateEndDateFields" required></p>
                        
                        <p><input type="text" name="event_day_end" class="form-control" v-model="dayEnd" placeholder="Day End" style="display: none;"></p>
                        <p><input type="text" name="event_month_end" class="form-control" v-model="monthEnd" placeholder="Month End" style="display: none;"></p>
                        <p><input type="text" name="event_year_end" class="form-control" v-model="yearEnd" placeholder="Year end" style="display: none;"></p>
                        <p><input type="text" name="event_time_end" class="form-control" v-model="timeEnd" placeholder="Time end" style="display: none;"></p>
                        <p><textarea name="event_desc" class="form-control"  id="editEventDesc-id" placeholder="Add a description"></textarea></p>
                        <p><textarea name="participants" class="form-control" id="editParticipants-id" placeholder="Participants"></textarea></p>
                        <p><input type="file" name="file_attachment" class="form-control" id="editFileAttachment-id" ></p>
                  
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                  </form>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="modal fade" id="myCalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add calendar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'save-calendar' %}" method="post">
                      {% csrf_token %}
                        <p><input type="text" name="calendar_name" class="form-control" placeholder="Calendar name" required></p>
                        <p><input type="text" name="calendar_desc" class="form-control" placeholder="Description" required></p>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>


            <div class="modal fade" id="myDivModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add division</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'save-division' %}" method="post">
                      {% csrf_token %}
                        <p><input type="text" name="division_name" class="form-control" placeholder="Division name" required></p>
                        <p><input type="text" name="division_desc" class="form-control" placeholder="Description" required></p>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>

    <hr>

      <!-- <h2>Events List</h2>
     
      <ul>
        {% for val in eventsList %}
            <p><a @click="showEditEventModal" style="cursor: pointer;">{{ val.event_title }} - {{ val.event_desc }}</a></p>
        </li>
        {% endfor %}
      </ul> -->

      <table id="eventsTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Event Title</th>
                <th>Event Description</th>
                <th>Date Start</th>
                <th>Date End</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tfoot>
          <tr>
            <th>ID</th>
            <th>Event Title</th>
            <th>Event Description</th>
            <th>Date Start</th>
            <th>Date End</th>
               
          </tr>
      </tfoot>
    </table>


    </div> <!-- end of app  -->

   </div>
{% endblock %}

