<!DOCTYPE html>
{% extends 'users/master.html' %}
{% block title %}
    Registration Page
{% endblock %}

{% block content %}

<div class="container" style="width: 50%; margin: 0 auto;">
    <h2>Register</h2>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
        <div class="form-group">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.fk_office.label_tag }}
            {{ form.fk_office }}
            {% if form.fk_office.help_text %}
                <small class="form-text text-muted">{{ form.fk_office.help_text }}</small>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </div>
        <div class="form-group">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
</div>

    <!-- <div class="container" style="width: 50%; margin: 0 auto;">
        <h2>Register</h2>
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.errors }}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div> -->

{% endblock %}